@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-100;
  }
}

@layer utilities {
  @keyframes slideInFromBottomRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    70% {
      transform: translateX(-10%);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slideInFromTopCenter {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    70% {
      transform: translateY(10%);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .animate-toast-br {
    animation: slideInFromBottomRight 0.9s ease-out forwards;
  }
  .animate-toast-tc {
    animation: slideInFromTopCenter 0.9s ease-out forwards;
  }
}
